body{
	background-color: #00b894;
}
.logo{
  width: auto;
  height:50px;
}
.nav{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_titulo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img{
  border: solid 1px;
  border-radius: 10px;
  border-color: black;
}
.nav li{
  margin-right: 10%;
}
.jumbotron{
    height: 300px;
      background-image: url(../img/img4.jpg);
      background-size: cover;
      background-position: center;
      height: 50vh;
}

.col{
    background-color: #d2dae2;
    border: solid 1px;
    border-radius: 10px;
    color: black;
    margin-left: 1vw;
    margin-top: 2vh;
    opacity: 0.5;
}
.col p{
    text-align: justify;
    text-justify: inter-word;
    text-align: center;
}

.col h2{
  text-align: justify;
  text-justify: inter-word;
  text-align: center;
}

.menu{
    margin-top: 20vh;
}
.col p{
    text-align: justify;
}