.facepage{
	background:url('../img/behind.jpg')no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}
.baixo{
	background: url(https://miro.medium.com/max/3840/1*GzmpuFKW_HmtYUwEx4Z2Ow.png)no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}
.parte1{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
   	transform: translate(-50%, -50%) 
}
img,a{
	margin: 1rem;
}
img.logo{
	height: 110px;
	width: auto;
}
@media screen and (min-width:800px) {
  	img.logo{
  		width: auto;
  		height: 150px
  	}
}
