.part1{
	background:url('../img/behind.jpg')no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.conteudo1{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 35%;
} 
.part2{
	background-color: #ff9f43;
	height: 100vh;
	width: 100vw;
}

/*em fase de decisao*/
img,a{
	margin: 1rem;
}
img.logo{
	height: 110px;
	width: auto;
}
@media screen and (min-width:800px) {
  	img.logo{
  		width: auto;
  		height: 150px
  	}
}
