/* V2 */
html,body{
	margin: 0;
	padding: 0;
}
.section1{
	background:url('../img/behind.jpg')no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.section2{
	background-color: orange;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}
.logo{
	width: 250px;
	height: auto;
}
p{
	text-align: justify;
}
.mycard{
	background-color: #b2bec3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	margin: 5vw;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 10px;
}
.mycard img{
	width: 100%;
	height: auto;
	border-radius: 20px;
}
@media screen and (min-width:800px) {
  	.section2{
		flex-direction: row;
  	}
}