body{
	background-color: #00b894;
}
.h4{
  font-size: 25px;
  color: black;
}
.span{
  font-size: 20px;
  color: black;
}
.h5{
  font-size: 20px;
  color: black;
}
.img{
  height: 30vh;
  width: auto;
}
.logo{
  width: auto;
  height:50px;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#img{
  margin-left: 10%
}
.nav li{
  margin-right: 10%;
}

.texto-main h4{
  margin-bottom: 30px;
}
.texto-main{
  text-align: justify;
  text-justify: inter-word;
  text-align: center;
}

.texto-main p{
  text-align: justify;
  align-items: center;
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
}
.jumbotron{
  height: 300px;
	background-image: url(../img/intro-quimica2.jpg);
	background-size: cover;
  background-position: center;
}
main a{
  text-align: justify;
  margin: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
}
main a:hover{
  opacity: 0.5;
}
.quiz{
    border-radius: 10px;
    background-color: #55efc4;
    margin-left: 10%;
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;
    width: 83vw;
}
.central{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#progres{
  text-align: justify;
  margin: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.quiz button{
  border: solid 1px;
  border-radius:10px;
  height: 05vh;
  width: 06vw;
  margin-left: 1vw;
  margin-bottom: 2vw;
}

.quiz button:hover{
    height: 05.5vh;
    width: 06.5vw;
}

#barra{ 
  background: -webkit-linear-gradient(top, #7db9e8 0%,#1e5799 100%);
  height: 01vh;
  width: 70vw;
}

.invisivel{
  display: none;
}

.video{
  display: flex;
  justify-content: center;
  align-items: center;
}
#video_titulo{
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_a{
  display: flex;
  justify-content: center;
  align-items: center;
}

progress::-webkit-progress-bar {
  background: #55efc4;
  border-radius: 50px;
  padding: 2px;
}
progress::-moz-progress-bar {  
  background: #55efc4;
  border-radius: 50px;
  padding: 2px;
}

progress::-webkit-progress-value {
  border-radius: 50px;
  background:#00b894;
}

@media (max-width: 800px)
{
  .texto-main h4{
    font-size: 50px;
    margin-bottom: 15vh;
  }
  .img{
    height: 20vh;
    width: 90vw;
  }
  .img2{
    height: 10vh;
    width: 90vw;
  }
}