body{
  background-color: #f39c12;
}
.logo{
  width: auto;
  height:50px;
}

#menu{
  margin: 0 auto;
  width: 50%;
}
#menu li{
  margin: 0 auto;
  width: 20%; 
}

.texto-main h1{
  margin-bottom: 50px;
}
.texto-main{
  text-align: justify;
  margin: 100px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.jumbotron{
  height: 300px;
	background-image: url(../img/teste2.svg);
	background-size: cover;
	background-position: center;
}
#nav{
  height:10vh; 
  display: flex;
  align-content: center;
  background-color: #fff; 
}
a{
  text-align: justify;
  margin: 100px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
}
.quiz{
    margin-left: 10%;
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;
    border: solid 1px;
    width: 80vw;
}
.central{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#progres{
  text-align: justify;
  margin: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.quiz button{
  border: solid 1px;
  border-radius:10px;
  height: 05vh;
  width: 06vw;
  margin-left: 1vw;
}

.quiz button:hover{
    background:#ffbe76;
    height: 05.5vh;
    width: 06.5vw;
}

#barra{ 
  height: 04vh;
  width: 70vw;
}

.invisivel{
  display: none;
}