.login{
	position: relative;
}
.logo{
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	top: 10vh;
}
.body-form{
	width: 80%;
}
.boxtxt{
	display: flex;
	flex-direction: column;
	border-top: 0;
	border-right: 0;
	margin: 5px;
	align-items: center;
	width: 100%;
}
.body-down{
	margin-top: 2vh;
}
#diferente{
	margin-right: 6vw;
}