body{
	background:url('../img/behind.jpg')no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
img{
	margin-top: 1em;
	display: block;
	margin-left:auto;
	margin-right: auto;
}
.login-register{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px auto;
}
form{
	display: flex;
	flex-direction: column;
	margin: 0;
	width: 18rem;
	height: 45vh;
	align-items: center;
}
@media screen and (min-width: 800px) {
	.login-register{
		display: flex;
		flex-direction: row;
		position: absolute;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		top: 25rem;
		height:400px;
		background-color: rgba(243, 156, 18,.8);
		padding: 2rem;
		border: solid .1em black;
		border-radius: 1rem;
	}
	form{
		height: 350px;
		padding-top: 50px;
	}
	.divider{
		width: .1rem;
		height: 300px;
		background-color: #000;
		margin: 0 30px 0 30px;
	}

	form .btn{
		position: absolute;
		bottom:50px;
		width: 40% !important;
	}
}
