*{
	padding: 0;
	margin: 0;
}
html,body{
	font-family: 'Lato', sans-serif;
}
.logo{
	width: auto;
	height:150px;
}
.button{
	background-color: #28a745;
	padding: .4rem;
	border-radius: .5rem;
	color: #fff;
	text-decoration: none;
	font-size: 1rem;
	text-decoration: none;
}
.ancora{
	color: #000;
	text-decoration: none;
	font-size: 1rem;
}
.icons{
	width: auto;
	height: 10vh;
}
