
*{
	padding: 0;
	margin: 0;
	font-family: 'Poiret One', cursive;
}
.icons{
	width: auto;
	height: 10vh;
}
footer{
	display: flex;
	align-items: center;
	padding: 2rem;
	height: 100px;
	background-color: #7f8c8d;
	border-radius: 10px;
}
