*{
	padding: 0;
	margin: 0;
}
html,body{
	height: 100vh;
	font-family: 'Karla', sans-serif;
}
body{
	background:url('../img/behind.jpg')center no-repeat;
	background-size: cover;
}
.logo{
	width: 40vh;
	height: auto;
}
.butao{
	background-color: #EE5A24;
	padding: .4rem;
	border-radius: .5rem;
	color: #000;
	text-decoration: none;
	font-size: 1rem;
}
.ancora{
	color: #000;
	text-decoration: none;
	font-size: 1rem;
}