.navegation, #menu{
	display: flex;
	flex-direction: column;
	position: relative;
	left: 0;
	height: 100vh;
	padding: .5rem;
	background-color:rgba(243, 156, 18,.7);
	width: 200px;
	overflow: hidden;
}
/*.show-header{
	left: 0;
	-webkit-transition:300ms ease all;
	transition:300ms ease all;
}*/
.p-header{
	font-size: 1.5em;
}
.img-header{
	width: 180px;
	height: auto;
	margin-bottom: 1rem;
}
.divider{
	width:90%;
	height: 1px;
	background-color: #000;
	margin-top:1rem; 
	margin-bottom:1rem;
}
/*.sumiu{
	display: none;
}
.btn-open{
	top:0;
	position: absolute;
	font-weight: bold;
	font-size: 2rem;
}*/
main{
	position: absolute;
	top: 0;
	left: 200px;
	width: 100vw;
	height: 100vh;
	display: flex;
}
.cartao{
	height: 50vh;
	width: 20vw;
	margin: 2em;
}
.active{
	width: 100%;
	background-color: none;
}
@media screen and (min-width: 992px){
	header{
		left: 0;
	}
	main{
		width: calc(100vw - 200px);
	}
}