body{
	background:url('../img/teste2.png')no-repeat center center fixed;
	background-size: cover;
}

header{
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	text-align: center;
	height: 60px;
	background-color: rgba(230,125,0,.9);
}
.nav-lateral{
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	top: 60px;
	height:calc(100vh - 60px);
	width: 60px;
	justify-content: space-between;
	background-color: rgba(230,125,0,.9);
}
.espaço_util{
	width: calc(100vw - 60px);
	height: calc(100vh - 60px);
	position: absolute;
	top: 60px;
	left: 60px;
}
.logo{
	width: auto;
	height: 60px;
}
.icons{
	width: auto;
	height: 60px;
}
.meucard{
	width:20rem;
	height: 25rem;
	background-color:#ecf0f1; 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	border-radius: 1rem;
}
.linha{
	display: flex;
	width: 80%;
	justify-content: space-between;
	margin: 5rem;
}