header{
	background-color:rgba(230, 126, 34,.8); 
}
.logo{
	width:10rem;
	display: block;
	margin-left:auto;
	margin-right: auto;
}
.barra1,.barra2,.barra3{
	width: 35px;
  	height: 5px;
  	background-color: #333;
  	margin: 6px 0;
  	transition: 0.4s;
}
@media screen and (min-width: 992px) {
	.logo{
		width:20rem;
	}
}