header{
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	height: 100%;
	padding: .5rem;
	background-color:rgba(243, 156, 18,.7);
	width: 200px;
}
nav{
	display: flex;
	flex-direction: column;
	padding-bottom:.8rem;
}
.p-header{
	font-size: 1.5em;
}
.img-header{
	width: 180px;
	height: auto;
	margin-bottom: 1rem;
}
.divider{
	width:90%;
	height: 1px;
	background-color: #000;
	margin-top:1rem; 
	margin-bottom:1rem;
}
.sumiu{
	display: none;
}